.singlePostContainer {
  background: #fff;
}

.singlePostContent {
  max-width: var(--w-desktop);
  margin: auto;
  padding: 4rem 1rem;

  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    outline: none;
  }

  input {
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid var(--gray-500);
    color: var(--clr-txt);
    font-size: 1.5rem;

    &:focus {
      border-bottom: 3px solid var(--gray-500);
    }
  }

  textarea {
    height: 100vh;
    margin-top: 1rem;
    border: 1px solid var(--gray-500);
    color: var(--gray-700);
    font-size: 1.2rem;
    line-height: 1.75;
    letter-spacing: 0.5px;
    resize: none; // handler for hiding resize

    &:focus {
      border: 2px solid var(--gray-500);
    }
  }

  .singlePostInfo {
    display: flex;
    flex-direction: column;

    .singlePostAuthor {
      color: var(--clr-txt);
      font-size: 1rem;
      font-weight: 500;

      &:hover {
        color: var(--clr-txt-light);
      }
    }

    .singlePostTimestamp {
      margin-top: 0.25rem;
      color: var(--gray-500);
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .singlePostTitle {
    display: flex;
    align-items: center;

    h1 {
      margin-top: 1rem;
      font-size: 2rem;
    }
  }

  .singlePostText {
    max-width: 1020px;
    height: 100%;
    margin: 1rem auto 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.5px;
    white-space: pre-wrap;

    &::first-letter {
      font-size: 2.75rem;
      font-weight: 600;
    }
  }
}
