* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg: #f7c331;
  --clr-bg-alt: #6b7a8f;
  --clr-txt: #353535;
  --clr-txt-alt: #ffffff;
  --clr-txt-light: #d3d3d3;
  --clr-accent: #f7882f;
  --clr-logo: #000;

  --gray-100: rgb(244, 244, 244);
  --gray-300: rgb(223, 223, 223);
  --gray-400: #746c70;
  --gray-500: #4e4f50;
  --gray-700: rgb(35, 35, 35);
  --blue-300: #647c90;
  --ivory-500: #e2ded0;
  --yellow-500: rgb(255, 225, 0);
  --white: #fff;
  --black: #000;

  --w-mobile: 275px;
  --w-desktop: 1024px;
  --w-form-desktop: 455px;
  --h-navbar: 5rem;
}

html {
  -webkit-font-smoothing: antialiased;

  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--clr-txt);
  background-color: var(--clr-bg);
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

input,
textarea,
button {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
