.postContainer {
  max-width: 768px;

  .postAuthor {
    display: block;
    margin-top: 0.25rem;
    color: var(--gray-500);
    font-size: 0.85rem;
    font-weight: 600;
  }

  .postTitle {
    display: block;
    color: var(--gray-500);
    font-size: 1.75rem;
  }

  .postTimestamp {
    margin-top: 0.5rem;
    color: var(--gray-400);
    font-size: 0.85rem;
  }

  .postText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-top: 1rem;
    color: var(--gray-500);
    text-overflow: ellipsis;
    line-height: 1.5;
  }
}
