.loginContainer {
  height: 850px;
  background: var(--white);
  padding-top: 4rem;

  .loginContent {
    max-width: var(--w-form-desktop);
    margin: auto;
    padding: 0 1rem;

    .loginHeading {
      margin-bottom: 1rem;
      color: var(--gray-700);
      text-align: center;

      svg {
        color: var(--gray-300);
        font-size: 3rem;
      }

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.25rem;
        margin-top: 1rem;
      }
    }
  }
}
