.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  background: rgb(30, 30, 30);
  color: rgb(146, 146, 146);
  font-family: 'Roboto', serif;
  font-size: 0.9rem;
  text-align: center;
}
