.settingsContainer {
  height: 850px;
  background: var(--clr-bg-alt);
  padding-top: 4rem;
}

.settingsContent {
  max-width: var(--w-form-desktop);
  margin: auto;
  padding: 0 1rem;

  .settingsHeading {
    display: flex;
    justify-content: space-between;

    .settingsTitle {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 2rem;
    }

    .deleteAccount {
      color: #ff6262;
      font-weight: 600;
    }
  }

  .settingsForm {
    margin-top: 3rem;
  }
}

.editFormContainer {
  display: flex;
  flex-direction: column;

  .formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;

    .inputLabel {
      font-weight: 600;
    }

    .formControl {
      height: 2.75rem;
      margin-top: 0.25rem;
      padding-left: 0.5rem;
      border: 1px solid #d3d3d3;
      border-radius: 0.5rem;
      font-size: 1rem;
    }
  }

  button {
    height: 2.75rem;
    padding: 0 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #000;

    color: var(--white);
    font-size: 1rem;
    font-weight: 600;

    &:active {
      background-color: rgb(45, 63, 90);
    }
  }
}
