.postContainer {
  max-width: 756px;
  padding: 2rem 2rem 5rem;
  border: 1px solid var(--gray-300);
  background: var(--white);

  .postAuthor {
    display: block;
    color: var(--gray-500);
    font-size: 1rem;
    font-weight: 600;
  }

  .postTitle {
    display: block;
    color: var(--gray-700);
    font-size: 1.75rem;
    line-height: 1.5;
  }

  .postTimestamp {
    margin-top: 0.5rem;
    color: var(--gray-500);
    font-size: 1rem;
  }

  .postText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-top: 1rem;
    color: var(--gray-700);
    font-size: 1.25rem;
    text-overflow: ellipsis;
    line-height: 1.5;
  }
}
