.headerContainer {
  height: var(--h-navbar);
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-300);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--w-desktop);
  height: var(--h-navbar);
  margin: auto;
  padding: 0 1rem;
  font-family: 'Source Serif Pro', serif;

  a {
    color: var(--gray-700);
    font-size: 1rem;

    & + a {
      margin-left: 1rem;
    }
  }

  nav {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      height: var(--h-navbar);
      letter-spacing: 0.5px;

      &.active {
        position: relative;
        color: var(--gray-700);
        font-weight: 600;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: var(--gray-700);
        }
      }
    }
  }

  .headerLogo {
    color: var(--black);
    font-family: 'Roboto', serif;
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  .rightContent {
    display: flex;
    align-items: center;
    height: 4.5rem;

    .loginBtn {
      display: flex;
      align-items: center;
      margin-right: 0.75rem;
    }

    .registerBtn {
      display: flex;
      align-items: center;
      height: 2.25rem;
      padding: 0 1rem;
      border-radius: 1rem;
      background: var(--yellow-500);
      color: var(--gray-700);
    }

    svg {
      margin-right: 0.25rem;
    }
  }
}
