.btn {
  display: flex;
  align-items: center;
  height: 2.25rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background: #000;
  color: #fff;
  font-size: 1rem;

  svg {
    margin-left: 0.25rem;
  }
}
